<div class="mt-2 d-flex justify-content-center">
  <h1>Registro de alumnos</h1>
</div>
<div class="h-100 mt-4 d-flex align-items-center justify-content-center">
  <form [formGroup]="formData" class="p-5 flex-column" (submit)="saveData()">
    <div class="form-group">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input formControlName="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre completo"
        [ngClass]="{'is-invalid' : isValid && alumno['nombre'].errors}">
        <div *ngIf="isValid && formData.controls['nombre'].errors">
          <small *ngIf="alumno['nombre'].errors?.['required']" class="form-text text-danger">Nombre requerido.</small>
        </div>
      </div>
      <label for="email">Correo electrónico</label>
      <input type="email" name="email" formControlName="email" class="form-control" placeholder="Correo electrónico"
      [ngClass]="{'is-invalid' : isValid && alumno['email'].errors}">
        <div *ngIf="isValid && formData.controls['email'].errors" class="d-flex flex-column">
          <small *ngIf="alumno['email'].errors?.['required']" class="form-text text-danger">Correo requerido.</small>
          <small *ngIf="alumno['email'].errors" class="form-text text-danger">Email de ejemplo válido ejemplo@mail.com</small>
        </div>
    </div>
    <div class="form-group">
      <label for="semestre">Semestre</label>
      <input formControlName="semestre" name="semestre" type="number" class="form-control" placeholder="Semestre"
      [ngClass]="{'is-invalid' : isValid && alumno['semestre'].errors}">
        <div *ngIf="isValid && formData.controls['semestre'].errors" class="d-flex flex-column">
          <small *ngIf="alumno['semestre'].errors?.['required']" class="form-text text-danger">Semestre requerido.</small>
          <small *ngIf="alumno['semestre'].errors?.['lengthLimit']" class="form-text text-danger">Válido solo para primer semestre.</small>
        </div>
    </div>
    <div class="form-group">
      <label for="matricula">Matrícula</label>
      <input formControlName="matricula" name="matricula" type="text" class="form-control" placeholder="Matrícula"
      [ngClass]="{'is-invalid' : isValid && alumno['matricula'].errors}">
        <div *ngIf="isValid && formData.controls['matricula'].errors" class="d-flex flex-column">
          <small *ngIf="alumno['matricula'].errors?.['required']" class="form-text text-danger">Matrícula requerida.</small>
          <small *ngIf="alumno['matricula'].errors?.['minlength']" class="form-text text-danger">Mínimo 9 caracteres.</small>
          <small *ngIf="alumno['matricula'].errors?.['maxlength']" class="form-text text-danger">Máximo 9 caracteres.</small>
          <small *ngIf="formData.controls['matricula'].errors?.['pattern']" class="form-text text-danger">Solo se admite números.</small>
        </div>
    </div>
    <div class="my-2 form-group">
      <label for="nivel_academico">Nivel Académico</label>
      <select #select formControlName="nivel_academico" class="form-select" name="nivel_academico"
      [ngClass]="{'is-invalid' : isValid && alumno['nivel_academico'].errors}" (change)="nivelSelect(select.value)">
        <option disabled>Seleccione un nivel académico</option>
        <option value="licenciatura">Licenciatura</option>
        <option value="maestria">Maestría</option>
        <option value="doctorado">Doctorado</option>
      </select>
      <div *ngIf="isValid && formData.controls['nivel_academico'].errors">
        <small *ngIf="alumno['nivel_academico'].errors?.['required']" class="form-text text-danger">Nivel académico requerido.</small>
      </div>
    </div>
    <div class="my-2 form-group">
      <select formControlName="especialidad" class="form-select" name="especialidad"
      [ngClass]="{'is-invalid' : isValid && alumno['especialidad'].errors}">
      <option disabled>Seleccione una opción</option>
      <option *ngFor="let n of nivel">{{n}}</option>
    </select>
    <div *ngIf="isValid && formData.controls['especialidad'].errors">
      <small *ngIf="alumno['especialidad'].errors?.['required']" class="form-text text-danger">Nivel académico requerido.</small>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>